@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Playfair Display, serif;
    font-weight: 300;
    color: #32161c
}

/* headings and logo */

h1, h2 {
    font-family: Bodoni Moda, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #040218;
}

#logo {
    float: left;
    text-transform: capitalize;
    font-size: 280%;
}