@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Playfair Display, serif;
    font-weight: 300;
    color: #32161c
}

/* headings and logo */

h1, h2 {
    font-family: Bodoni Moda, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #040218;
}

#logo {
    /*float: center; */
    text-transform: capitalize;
    font-size: 280%;
    text-align: center;
    
}

#logo-a {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style: none;
    margin:0;
padding:0;
text-align:center;
margin-top: 51px;
background-color: rgba(201, 76, 76, 0.3);
}

#menu li {
    display:inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: black;
}

#hero-image {
    height: 500px;
    width: 100%;
    background: url('../css/images/sparkle.webp') no-repeat center center;

    /* animation zoom effect on loading page */

    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create level of zoom for hero image */

@keyframes hero-zoom {

from {
transform: scale(1)
}

to {
    transform: scale(1.1)
}

}

#cover-text {
    font-size: 130%;
    font-family: Bodoni Moda, serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(15, 15, 15, 0,9);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* focus areas */

#focus-areas {
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
   /* background-color: blue; */
} 

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
} 

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
} 

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#title {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../css/images/colori-armocromia-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#courses {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#courses-disclaimer {
    text-align: center;
    margin: 50px 0;
    font-size: 150%;
    color: #040218;
}

#times {
    background: url('../css/images/Iceland-image.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    width: 20%;
    height: 200px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

/* footer */

footer {
 height: 150px
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #040218;
}