@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@1,6..96,500&family=Playfair+Display&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Playfair Display, serif;
    font-weight: 300;
    color: #32161c
}

/* headings and logo */

h1, h2 {
    font-family: Bodoni Moda, serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #040218;
}

#logo {
    float: center;
    text-transform: capitalize;
    font-size: 280%;
    text-align: center;
    
}

#logo-a {
    text-decoration: none;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
    list-style: none;
    margin:0;
    padding:0;
    text-align:center;
    margin-top: 51px;
    background-color: rgba(201, 76, 76, 0.3);
}

#menu, #logo {
    line-height: 75px;
}


#menu li {
    display:inline;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}


/* hero image and cover text */

#hero-outer {
    height: 500px;
    width: 100%;
    overflow: hidden;
}

#cover-text, #cover-text h2 {
    color: black;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../css/images/sparkle.webp') no-repeat center center;

    /* animation zoom effect on loading page */

    animation: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* create level of zoom for hero image */

@keyframes hero-zoom {

from {
transform: scale(1)
}

to {
    transform: scale(1.1)
}

}

#cover-text {
    font-size: 130%;
    font-family: Bodoni Moda, serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(241, 109, 107, 0.7);

    bottom: 30px;
    right: 150px;

    position: absolute;
}

/* focus areas */

#focus-areas {
    height: 600px;
    margin-top: 10px;
    margin-bottom: 10px;

}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
} 

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-about {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 60%;
    float: right;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
} 

.right-about-heading {
    width: 60%;
    float: left;
    line-height: 30px;
    clear: both;
    margin-bottom: 50px;
} 

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}

#title {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#circle-container {
    width: 300px;
    height: 300px;
    padding: 30px;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
}

#circle-cover-bg {
    background: url('../css/images/colori-armocromia-image.jpg') no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#courses {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#courses-disclaimer {
    text-align: center;
    margin: 50px 0;
    font-size: 150%;
    color: #040218;
}

#times {
    background: url('../css/images/Iceland-image.webp') no-repeat center center;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#times div {
    color: #fafafa;
    background-color: rgba(0, 0, 0, 0.6);
    float: left;
    width: 20%;
    height: 200px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#times h2 {
    color: #fafafa;
}

/* footer */

footer {
 height: 150px
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #040218;
}

/* description page */

#what-area {
    height: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.what-about-heading {
    line-height: 30px;
}

.what-about-heading > p {
    margin-left: 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

#what-about {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

/* four seasons */

#seasons-area {
    height: 700px;
    margin-top: 10px;
    margin-bottom: 10px;
}


#seasons-about {
    text-align: center;
    margin: 50px 0;
    font-size: 280%;
}

#winter-about {
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#winter-about h2 {
    color: fuchsia;
}

#winter-about p {
font-weight: 600;
}

#spring-about {
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
}

#spring-about h2 {
    color: coral;
}

#spring-about p {
    font-weight: 600;
    }

#summer-about {
    line-height: 30px;
    text-align: center;
    margin-bottom: 30px;
    }

#summer-about h2 {
    color: teal;
}    
    
#summer-about p {
    font-weight: 600;
    }    

#fall-about {
        line-height: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

#fall-about h2 {
    color: olive;
}    
        
#fall-about p {
        font-weight: 600;
        }     
        
/* video */

#iframe-area {
    height: 350px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#video-about {
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.iframe-container {
 margin-left: 30%;
 margin-top: 30px;
 margin-bottom: 50px;
 display: block;
 overflow: hidden;
}      

/* Media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #focus-area {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #title {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times > div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }

    #cover-text {
        left: 0;
        position: sticky;
    }

    #what-area {
        width: 65%;
        height: 300px;
        margin: 0 auto;
    }

    #seasons-area {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

}

/* For medium screen sizes from 950px wide and down */

@media screen and (max-width: 950px) {

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
        left: 0;
        position: sticky;

    }

    #focus-area {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }

    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;
    }

    }


/* Form */

#form-about {
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.form-section {
    background: url('../css/images/seasons1.jpg') no-repeat center center;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.test-form {
    margin: 150px 10% 0 0;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width: 400px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.test-form > h2 {
    color:#fafafa;
    margin-bottom: 20px;
}

.test-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.test-input:hover {
    border-color: navy;
}

.discover-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #371592;
    color: #fafafa;
    display: block;
}

.discover-button:hover {
    background-color: #fafafa;
    color: #371592;
}